Makefile.in
firm_revision.h
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h.in
/config.h
/config.mak
/build
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/win32/vc2010/firm.suo
/win32/vc2010/firm.vcxproj.user
/win32/vc2010/firm.sdf
/win32/vc2010/firm.opensdf
/win32/vc2010/win32/
/include/libfirm/nodes.h
