/*
 * documentation formatting (heavily inspired by jinja.css)
 */
body {
	font-family: Georgia, serif;
	font-size: 17px;
	background-color: white;
	color: #000;
	margin: 0;
	padding: 0;
}

div.body {
	background-color: #ffffff;
	color: #3E4349;
	padding: 0 30px 0 30px;
}

div.document {
	width: 940px;
	margin: 30px auto 0 auto;
}

div.documentwrapper {
	float: left;
	width: 100%;
}

div.bodywrapper {
	margin: 0 0 0 220px;
}

div.sidebar {
	width: 220px;
}

div.sidebarwrapper {
	padding: 10px 5px 0 10px;
}

div.sidebar {
	float: left;
	width: 230px;
	margin-left: -100%;
	font-size: 90%;
}

div.sidebar ul {
	list-style: none;
}

div.sidebar ul ul,
div.sidebar ul.want-points {
	margin-left: 20px;
	list-style: square;
}

div.sidebar ul ul {
	margin-top: 0;
	margin-bottom: 0;
}

div.sidebar form {
	margin-top: 10px;
}

div.sidebar input {
	border: 1px solid #98dbcc;
	font-family: sans-serif;
	font-size: 1em;
}

div.footer {
	width: 940px;
	margin: 20px auto 30px auto;
	font-size: 14px;
	color: #888;
	text-align: right;
}

div.footer a {
	color: #888;
}

div.section hr {
	margin-top: 30px;
	text-align: center;
	width: 95%;
}

a {
	color: #aa0000;
	text-decoration: underline;
}

a:hover {
	color: #dd0000;
	text-decoration: underline;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
	font-family: Crimson Text, Georgia, serif;
	font-weight: normal;
	margin: 30px 0px 10px 0px;
	padding: 0;
	color: black;
}

div.body h1 { margin-top: 0; padding-top: 0; font-size: 240%; }
div.body h2 { font-size: 180%; }
div.body h3 { font-size: 150%; }
div.body h4 { font-size: 130%; }
div.body h5 { font-size: 100%; }
div.body h6 { font-size: 100%; }

div.body p, div.body dd, div.body li {
	line-height: 1.4em;
}

ul, ol {
	margin: 10px 0 10px 30px;
	padding: 0;
}

pre {
	background: #eee;
	padding: 7px 30px;
	margin: 15px -30px;
	line-height: 1.3em;
}

dl pre, blockquote pre, li pre {
	margin-left: -60px;
	padding-left: 60px;
}

dl dl pre {
	margin-left: -90px;
	padding-left: 90px;
}

tt {
	background-color: #E8EFF0;
	color: #222;
	/* padding: 1px 2px; */
}

a.reference {
	text-decoration: none;
	border-bottom: 1px dotted #bb0000;
}

a.reference:hover {
	border-bottom: 1px solid #dd0000;
}

a.footnote-reference {
	text-decoration: none;
	font-size: 0.7em;
	vertical-align: top;
	border-bottom: 1px dotted #bb0000;
}

a.footnote-reference:hover {
	border-bottom: 1px solid #dd0000;
}
