*.o
ir2vhdl
.nfs*
*.vcg
t_*.vhd
*.cf
*.driver
*.in
*.out
*.expect
testbench
*.o
test_atom*.vcg
*.driver
test_atom*.vcg
*.ngc
*.xrpt
*.ngc.log
*.mrp
*.map
*.bld
*_summary.xml
*_usage.xml
*.pcf
*.analyze.log
*.ngm
*.ngd
*.ncd
xst
_xmsgs
xlnx_auto_0_xdb
t_*.in
t_*.out
t_*.expect
testbench
t_*.vhd
work
transcript
vsim.wlf
netlist.lst
*.vsim.log
*.vcom.log
*.cf
irdo
*.test
